<div th:fragment="content" th:remove="tag">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Thời gian</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each = "o : ${hoaDon.tracks}" >
        <td th:text="${#temporals.format(o.updatedTime, 'dd-MM-yyyy HH:mm')}" ></td>
        <td th:text="${o.status}" ></td>
        <td th:text="${o.notes}" ></td>
      </tr>
    </tbody>
  </table>
</div>