<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace = "~{fragments :: page_head}">
<body>
<div th:replace="~{navigation :: nav}"></div>

<div class="container-fluid">
    <h2>Quản lý đơn đặt hàng </h2>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th>Mã hóa đơn</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
            <th>Hành động</th>
        </tr>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hd : ${listHd}">
            <td>[[${hd.id}]]</td>
            <td th:text ="${#temporals.format(hd.ngayTao, 'dd-MM-yyyy HH:mm')}" ></td>
            <td>[[${hd.status}]]</td>
            <td>
                [[${#numbers.formatInteger(hd.thanhTien,3,'POINT')}]] đồng
            </td>
            <td>
                <a class="fa fa-file fa-solid fa-2x link-detail"
                   th:href="@{'/hoadon/view/' +${hd.id}}">
                </a> &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
   $(".link-detail").on('click' , function(e){
      e.preventDefault();
      linkDetail = $(this).attr("href");
      $("#detailModal").modal("show").find(".modal-content").load(linkDetail);
   });
})
</script>
</body>
</html>