<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace = "~{fragments :: page_head}">
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid text-center" >
    <div>
        <h2>Forgot password</h2>
    </div>
    <div th:if = "${error != null}" >
        <h2 class="text-danger" >[[${error}]]</h2>
    </div>
    <div th:if = "${message != null }" >
        <h2 class="text-success" >[[${message}]]</h2>
    </div>
        <form th:action = "@{/verifypassword}"  method="post" style="max-width : 450px ; margin : 0 auto ;" >
            <div class="border border-secondary rounded p-3">
                <div>
                    <p>Điền email để chúng tôi gửi mã để xác thực !!</p>
                </div>
                <div>
                    <p>
                        <input type="email"
                               name ="email"
                               placeholder="Fill the the input"
                               required
                               class="form-control"
                               autofocus ="autofocus"
                        />
                    </p>
                </div>
                <div>
                    <p>
                       <input class="btn btn-primary" value="Xac nhan" type="submit" />
                    </p>
                </div>
            </div>
        </form>

</div>

<script type="text/javascript">
	function clearFilter() {
		window.location = "[[@{/}]]";
	}
</script>
</body>

</html>