<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace = "fragments :: page_head">
<body>
	<div th:replace="navigation :: nav"></div>
    <div class = "containerSp">
		<div class="left_content">
			<div class="categories">
				<h1 class = "category-title">Categories</h1>
				<div class="category">
					<a th:href ="@{/}" class="link_product" >All</a>
				</div>
				<div class="category" th:each ="loai : ${listLoai}">
					<a th:href = "@{'/listSpTheoLoai/'+ ${loai.id}}" class="link_product" >
						<span>[[${loai.ten}]]</span>
					</a>
				</div>
			</div>
		</div>
		<div class="cards" >
			 <div th:if = "${listSP != null}" class="card" th:each ="sp : ${listSP}" >
				 <a th:href = "@{'/product_details/'+ ${sp.id}}" class="link_product">
				  <img class="card-img" th:src="@{${sp.photosImagePath}}" alt="not found" />
				  <div class="content">
					<div class="name">[[${sp.ten}]]</div>
					<div class="price">[[${sp.gia}]] đồng</div>
				  </div>
				 </a>
			 </div>
			<h2 th:if ="${listSP.size() == 0}" class = "card-message">Xin lỗi sản phẩm này hiện nay đã hết hàng !!</h2>
		</div>

	</div>

</body>

</html>