<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace = "~{fragments :: page_head}">
<body>
	<div th:replace="~{navigation :: nav}"></div>

    <div class = "containerSp">
		<div class="left_content">
			<div class="categories">
				<h1 class = "category-title">Categories</h1>
				<div class="category">
					<a th:href ="@{/}" class="link_product" >All</a>
				</div>
				<div class="category" th:each ="loai : ${listLoai}">
					<a th:href = "@{'/listSpTheoLoai/'+ ${loai.id}}" class="link_product" >
						<th:block th:if="${idLoai == loai.id}" >
							<span class="sp activee"  >[[${loai.ten}]]</span>
						</th:block>
						<th:block th:if="${idLoai != loai.id}" >
							<span  class="sp" >[[${loai.ten}]]</span>
						</th:block>
					</a>
				</div>
			</div>
		</div>
		<div class="card_wrap" >
			<div class="search_sp" >
				<form th:action="@{ '/page/' + ${idLoai != null ? idLoai +'/' : ''} +'1' }" class="form-inline m-3">
					<input type="hidden" name="sortField" th:value="${sortField}" />
					<input type="hidden" name="sortDir" th:value="${sortDir}" />
					<input type="hidden" name="idLoai" th:value="${idLoai}" />
					Filter:&nbsp; <input type="search" name="keyword"
										 th:value="${keyword}" class="form-control" required />
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-search"></i>
					</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary"
							onclick="clearFilter()">
						<i class="fa fa-eraser"></i>
					</button>
				</form>

				<div th:if="${message != null}"
					 class="alert alert-success text-center">[[${message}]]
				</div>
			</div>
			<div class="cards">
			 <div th:if = "${listSP != null}" class="card" th:each ="sp : ${listSP}" >
				 <a th:href = "@{'/product_details/'+ ${sp.id}}" class="link_product">
				  <img class="card-img" th:src="@{${sp.photosImagePath}}" alt="not found" />
				  <div class="content">
					<div class="name">[[${sp.ten}]]</div>
					<div class="price">[[${sp.gia}]] đồng</div>
				  </div>
				 </a>
			 </div>
			</div>
			<th:block th:if = "${idLoai == null}">
			<div class="pagination"  th:replace = "~{fragments :: pagination('loại sản phẩm' , '/page/')}"></div>
			</th:block>
			<th:block th:if = "${idLoai != null}">
				<div class="pagination"  th:replace = "~{fragments :: pagination('loại sản phẩm' , '/page/' + ${idLoai} + '/')}"></div>
			</th:block>
		</div>

	</div>
<script type="text/javascript">
	function clearFilter() {
		window.location = "[[@{/}]]";
	}
</script>
</body>

</html>