<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace = "~{fragments :: page_head}">
<body>

<div th:replace="~{navigation :: nav}"></div>

<div class = "container-fluid">
    <div>
        <h2>Quản lý sản phẩm > [[${pageTitle}]]</h2>
    </div>
    <div th:if="${message != null}"
         class="alert alert-success text-center">[[${message}]]
    </div>
    <form th:action = "@{/sanpham/save}" method = "POST"
          enctype="multipart/form-data" th:object = "${sanpham}">
        <input type="hidden" th:field="*{id}"  />
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Tổng quan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#description" role="tab">Kích thước</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#size" role="tab">Mô tả</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active p-3" id="overview" role="tabpanel">
                    <div th:replace="~{sanpham/sanpham_tongquan :: content}"></div>
                </div>
                <div class="tab-pane" id="size" role="tabpanel">
                    <div th:replace="~{sanpham/sanpham_mota :: content}"></div>

                </div>
                <div class="tab-pane" id="description" role="tabpanel">
                    <div th:replace="~{sanpham/sanpham_size :: content}"></div>
                    <input type="button" class="btn btn-secondary" style="width: 140px;"  value="Thêm kích thước"
                           onclick="addSize()" />
                </div>
            </div>
            <div class = "addNv text-center">
                <input type ="submit" class = "btn btn-primary" value = "Save" />
                <input type="button" class = "btn btn-secondary" value = "Cancel" id = "buttonCancel"/>
            </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src = "@{/js/common_form.js}"></script>
<script type="text/javascript">
   moduleURL = "[[@{/sanpham}]]";
   $(document).ready(function(){
       $("#moTa").richText();
       $("a[name='linkRemoveSize']").each(function(index) {
		$(this).click(function() {
			removeSizeByIndex(index);
		});
	});
   })

   // javascript code in sanpham_size
   function addSize() {
      var allDivSize = $("[id^='divDetail']") ;
      var divSizeCount = allDivSize.length;
      console.log(divSizeCount);
      var html = `
        <div class="form-inline" id="divDetail${divSizeCount}">
            <input type="hidden" name="sizeIds" value="0" />
            <label class="m-3">Tên kích thước:</label>
            <input type="text" class="form-control w-25" name="sizeNames" maxlength="50" />
            <label class="m-3">Mô tả:</label>
            <input type="text" class="form-control w-25" name="sizeDescriptions" maxlength="50" />
        </div>` ;
      $("#sizeList").append(html);
      var lastSize = allDivSize.last();
      var lastSizeId = lastSize.attr("id");
      console.log(lastSizeId);
      var htmlLinkRemove = `
        <a class="btn fas fa-times-circle fa-2x icon-dark"
            href="javascript:removeSizeById('${lastSizeId}')"
            title="Remove this size"></a>
      `;
      lastSize.append(htmlLinkRemove);
      $("input[name='sizeNames']").last().focus();
   }
   function removeSizeById(id) {
       $("#"+id).remove();
   }
   function removeSizeByIndex(index) {
       $("#divDetail" + index).remove();
   }
</script>
</body>
</html>